skills/tracking-engineer/templates/n8n-workflow-meta-capi.json
{
  "_README": "TEMPLATE CANÔNICO — Workflow N8N para Meta CAPI Forwarder. Importa via N8N → Import workflow → Selecionar este JSON. Antes de ativar: (1) trocar PIXEL_ID e API_VERSION no Code node 'Hash & Build Payload', (2) criar credential httpBearerAuth com o token CAPI, (3) ajustar path do webhook se necessário. Pipeline: Webhook → Hash & Build (parse string + SHA-256 + allowlist) → Switch (defense in depth) → HTTP Request Graph API → Log Response. Pegadinhas documentadas inline no Code node. Output esperado em produção: meta_status: 200, meta_events_received: 1, success: true por evento.",
  "name": "Meta CAPI Forwarder — TEMPLATE",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meta-capi-PROJECT",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "webhook-1",
      "name": "Webhook",
      "webhookId": "meta-capi-PROJECT"
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// HASH & BUILD PAYLOAD — Code node\n// ============================================================\n// Faz: parse string body (sendBeacon força text/plain), allowlist guard,\n// SHA-256 puro JS de PII, normalização phone Meta (sem +).\n//\n// PEGADINHAS:\n// 1. sendBeacon do GTM envia text/plain — body chega como STRING, precisa JSON.parse()\n// 2. crypto.subtle e require('crypto') bloqueados em N8N Cloud sandbox — usar SHA-256 puro JS\n// 3. Phone Meta = dígitos puros sem '+' (diferente Google Ads que usa E.164 com +)\n// 4. client_user_agent vem do front (navigator.userAgent), NÃO do header user-agent\n//    do request (proxies/CDN podem alterar)\n// 5. Allowlist guard: descarta eventos não-canônicos antes de hashear (poupa CPU\n//    + visibilidade no log de skips). Defense in depth caso trigger no GTM falhe.\n\n// ====== CONFIG (ajustar por projeto) ======\nconst PIXEL_ID = 'PIXEL_ID_HERE';\nconst API_VERSION = 'v23.0';\nconst TEST_EVENT_CODE = ''; // Setar pra QA inicial (ex: 'TEST12345'), remover em produção\nconst ALLOWED_EVENTS = ['Lead', 'MQL', 'NOICP'];\n\n// ====== SHA-256 PURO JS (sem deps, sem crypto.subtle) ======\nfunction sha256(message) {\n  if (message === undefined || message === null || message === '') return '';\n  message = String(message).toLowerCase().trim();\n  function utf8Encode(str) {\n    const bytes = [];\n    for (let i = 0; i < str.length; i++) {\n      let c = str.charCodeAt(i);\n      if (c < 0x80) bytes.push(c);\n      else if (c < 0x800) bytes.push(0xc0 | (c >> 6), 0x80 | (c & 0x3f));\n      else if (c < 0xd800 || c >= 0xe000) bytes.push(0xe0 | (c >> 12), 0x80 | ((c >> 6) & 0x3f), 0x80 | (c & 0x3f));\n      else {\n        i++;\n        c = 0x10000 + (((c & 0x3ff) << 10) | (str.charCodeAt(i) & 0x3ff));\n        bytes.push(0xf0 | (c >> 18), 0x80 | ((c >> 12) & 0x3f), 0x80 | ((c >> 6) & 0x3f), 0x80 | (c & 0x3f));\n      }\n    }\n    return bytes;\n  }\n  function rotr(n, b) { return (n >>> b) | (n << (32 - b)); }\n  const K = [0x428a2f98,0x71374491,0xb5c0fbcf,0xe9b5dba5,0x3956c25b,0x59f111f1,0x923f82a4,0xab1c5ed5,0xd807aa98,0x12835b01,0x243185be,0x550c7dc3,0x72be5d74,0x80deb1fe,0x9bdc06a7,0xc19bf174,0xe49b69c1,0xefbe4786,0x0fc19dc6,0x240ca1cc,0x2de92c6f,0x4a7484aa,0x5cb0a9dc,0x76f988da,0x983e5152,0xa831c66d,0xb00327c8,0xbf597fc7,0xc6e00bf3,0xd5a79147,0x06ca6351,0x14292967,0x27b70a85,0x2e1b2138,0x4d2c6dfc,0x53380d13,0x650a7354,0x766a0abb,0x81c2c92e,0x92722c85,0xa2bfe8a1,0xa81a664b,0xc24b8b70,0xc76c51a3,0xd192e819,0xd6990624,0xf40e3585,0x106aa070,0x19a4c116,0x1e376c08,0x2748774c,0x34b0bcb5,0x391c0cb3,0x4ed8aa4a,0x5b9cca4f,0x682e6ff3,0x748f82ee,0x78a5636f,0x84c87814,0x8cc70208,0x90befffa,0xa4506ceb,0xbef9a3f7,0xc67178f2];\n  const H = [0x6a09e667,0xbb67ae85,0x3c6ef372,0xa54ff53a,0x510e527f,0x9b05688c,0x1f83d9ab,0x5be0cd19];\n  const bytes = utf8Encode(message);\n  const l = bytes.length;\n  bytes.push(0x80);\n  while (bytes.length % 64 !== 56) bytes.push(0);\n  const bitLen = l * 8;\n  for (let i = 7; i >= 0; i--) bytes.push((bitLen / Math.pow(2, i * 8)) & 0xff);\n  for (let chunk = 0; chunk < bytes.length; chunk += 64) {\n    const W = new Array(64);\n    for (let i = 0; i < 16; i++) W[i] = (bytes[chunk + i*4] << 24) | (bytes[chunk + i*4+1] << 16) | (bytes[chunk + i*4+2] << 8) | bytes[chunk + i*4+3];\n    for (let i = 16; i < 64; i++) {\n      const s0 = rotr(W[i-15], 7) ^ rotr(W[i-15], 18) ^ (W[i-15] >>> 3);\n      const s1 = rotr(W[i-2], 17) ^ rotr(W[i-2], 19) ^ (W[i-2] >>> 10);\n      W[i] = (W[i-16] + s0 + W[i-7] + s1) | 0;\n    }\n    let a=H[0], b=H[1], c=H[2], d=H[3], e=H[4], f=H[5], g=H[6], h=H[7];\n    for (let i = 0; i < 64; i++) {\n      const S1 = rotr(e, 6) ^ rotr(e, 11) ^ rotr(e, 25);\n      const ch = (e & f) ^ (~e & g);\n      const t1 = (h + S1 + ch + K[i] + W[i]) | 0;\n      const S0 = rotr(a, 2) ^ rotr(a, 13) ^ rotr(a, 22);\n      const mj = (a & b) ^ (a & c) ^ (b & c);\n      const t2 = (S0 + mj) | 0;\n      h=g; g=f; f=e; e=(d+t1)|0; d=c; c=b; b=a; a=(t1+t2)|0;\n    }\n    H[0]=(H[0]+a)|0; H[1]=(H[1]+b)|0; H[2]=(H[2]+c)|0; H[3]=(H[3]+d)|0;\n    H[4]=(H[4]+e)|0; H[5]=(H[5]+f)|0; H[6]=(H[6]+g)|0; H[7]=(H[7]+h)|0;\n  }\n  return H.map(x => (x >>> 0).toString(16).padStart(8, '0')).join('');\n}\n\n// Phone Meta: dígitos puros sem + (E.164 do Google Ads tem +, Meta NÃO)\nfunction normalizePhoneForMeta(raw) {\n  let d = String(raw || '').replace(/\\D/g, '').replace(/^0+/, '');\n  if (!d) return '';\n  if (d.length === 10 || d.length === 11) return '55' + d;\n  return d;\n}\n\n// ====== INPUT — parse string body (sendBeacon força text/plain) ======\nlet input = $input.item.json.body || $input.item.json;\nif (typeof input === 'string') {\n  try { input = JSON.parse(input); } catch (e) { input = {}; }\n}\n\n// ====== ALLOWLIST GUARD (defense in depth, camada 3) ======\nif (!ALLOWED_EVENTS.includes(input.event_name)) {\n  return { json: { skipped: true, reason: 'event_name not in allowlist', event_name: input.event_name } };\n}\n\nconst headers = $input.item.json.headers || {};\nconst ud = input.user_data || {};\nconst cd = input.custom_data || {};\n\n// ====== HASH PII ======\nconst phoneMeta = normalizePhoneForMeta(ud.ph);\n\nreturn {\n  json: {\n    pixel_id: PIXEL_ID,\n    api_version: API_VERSION,\n    test_event_code: TEST_EVENT_CODE,\n    event_name: input.event_name,\n    event_time: input.event_time || Math.floor(Date.now() / 1000),\n    event_id: input.event_id,\n    event_source_url: input.event_source_url,\n    hashed_em: sha256(ud.em),\n    hashed_ph: sha256(phoneMeta),\n    hashed_fn: sha256(ud.fn),\n    hashed_ln: sha256(ud.ln),\n    hashed_ct: sha256(ud.ct),\n    hashed_st: sha256(ud.st),\n    hashed_country: sha256(ud.country),\n    hashed_external_id: ud.external_id || ud.user_id || sha256(phoneMeta),\n    fbc: ud.fbc || '',\n    fbp: ud.fbp || '',\n    user_ip: headers['x-forwarded-for'] ? headers['x-forwarded-for'].split(',')[0].trim() : (headers['x-real-ip'] || ''),\n    // CRÍTICO: client_user_agent vem do FRONT (navigator.userAgent), NÃO do header N8N\n    user_agent: ud.client_user_agent || headers['user-agent'] || '',\n    custom_data: cd\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "id": "code-1",
      "name": "Hash & Build Payload"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "leftValue": "={{ $json.event_name }}", "rightValue": "Lead", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Lead"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "leftValue": "={{ $json.event_name }}", "rightValue": "MQL", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "MQL"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "strict", "version": 2 },
                "conditions": [{ "leftValue": "={{ $json.event_name }}", "rightValue": "NOICP", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NOICP"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [440, 0],
      "id": "switch-1",
      "name": "filtrar_evento_canonico"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/{{ $json.api_version }}/{{ $json.pixel_id }}/events",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": [\n    {\n      \"event_name\": \"{{ $json.event_name }}\",\n      \"event_time\": {{ $json.event_time }},\n      \"event_id\": \"{{ $json.event_id }}\",\n      \"event_source_url\": \"{{ $json.event_source_url }}\",\n      \"action_source\": \"website\",\n      \"user_data\": {\n        \"em\": \"{{ $json.hashed_em }}\",\n        \"ph\": \"{{ $json.hashed_ph }}\",\n        \"fn\": \"{{ $json.hashed_fn }}\",\n        \"ln\": \"{{ $json.hashed_ln }}\",\n        \"external_id\": \"{{ $json.hashed_external_id }}\",\n        \"ct\": \"{{ $json.hashed_ct }}\",\n        \"st\": \"{{ $json.hashed_st }}\",\n        \"country\": \"{{ $json.hashed_country }}\",\n        \"fbc\": \"{{ $json.fbc }}\",\n        \"fbp\": \"{{ $json.fbp }}\",\n        \"client_ip_address\": \"{{ $json.user_ip }}\",\n        \"client_user_agent\": \"{{ $json.user_agent }}\"\n      },\n      \"custom_data\": {{ JSON.stringify($json.custom_data) }}\n    }\n  ]{{ $json.test_event_code ? ',\\n  \"test_event_code\": \"' + $json.test_event_code + '\"' : '' }}\n}",
        "options": {
          "response": { "response": { "fullResponse": true, "neverError": true } },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "id": "http-1",
      "name": "POST Meta Graph API",
      "credentials": {
        "httpBearerAuth": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Meta CAPI Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Log estruturado da resposta do Meta (visível em Executions tab)\nconst response = $input.item.json;\nconst statusCode = response.statusCode || 0;\nconst body = response.body || {};\n\nconst log = {\n  timestamp: new Date().toISOString(),\n  meta_status: statusCode,\n  meta_events_received: body.events_received || 0,\n  meta_messages: body.messages || [],\n  meta_fbtrace_id: body.fbtrace_id || null,\n  meta_error: body.error || null,\n  success: statusCode === 200 && (body.events_received || 0) > 0\n};\n\nif (!log.success) {\n  console.error('Meta CAPI error:', JSON.stringify(log));\n}\n\nreturn { json: log };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "id": "code-2",
      "name": "Log Response"
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Hash & Build Payload", "type": "main", "index": 0 }]] },
    "Hash & Build Payload": { "main": [[{ "node": "filtrar_evento_canonico", "type": "main", "index": 0 }]] },
    "filtrar_evento_canonico": {
      "main": [
        [{ "node": "POST Meta Graph API", "type": "main", "index": 0 }],
        [{ "node": "POST Meta Graph API", "type": "main", "index": 0 }],
        [{ "node": "POST Meta Graph API", "type": "main", "index": 0 }]
      ]
    },
    "POST Meta Graph API": { "main": [[{ "node": "Log Response", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "tracking" }, { "name": "meta-capi" }, { "name": "template" }]
}
